div#map {
    width: 1000px;
    margin: 0 auto;
}

div#plot {
    width: 1300px;
    margin: 0 auto;
}

.state {
  cursor: pointer;
}

.state.active {
  fill: orange;
}

.hover {
    position: absolute;
    text-align: center;
    width: 100px;
    height: 30px;
    padding: 3px;
    font-size: 15px;
    background: #FFFFE0;
    border: 1px;
    border-radius: 4px;
    pointer-events: none;
}
